.filter-all {
  display: flex;
  margin: 3em auto;
  justify-content: space-around;
}
.container-filtros-all {
  display: flex;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 12px;
  align-items: center;
  justify-content: space-evenly;
}
.filter-all select,
input {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 6px;
  margin: 4px;
}
